<!doctype html>
<html lang='ja'>
    <head>
        <title>サンプルページです</title>
    </head>
    <body>
    <!---
        <script type="text/javascript" language="javascript">
        function onFileSelect(inputElement){
            var fileList = inputElement.files;
            var fileCount = fileList.length;
            var imageHtml = "";
            for(var i = 0; i < fileCount; i++){
                var fileReader = new FileReader();
                var file = fileList[i];
                fileReader.onload = function(){
                    imageHtml += "<li><img src=\"" + this.result + "\" /></li>\r\n";
                };
            }
        }
        </script>
    -->
        <h1>テストページです</h1>
        <form action="/predict" method="POST">
            <input type="file" name = "file">
            <input type="submit" value="predict">
        </form>
    </body>
</html>
